<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>vue.js – découverte</title>

    <meta name="description" content="vue.js – découverte">
    <meta name="author" content="Florent Machen">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="s2/css/reveal.css">
    <link rel="stylesheet" href="s2/css/theme/sky.css" id="theme">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="s2/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 's2/css/print/pdf.css' : 's2/css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!--[if lt IE 9]>
		<script src="s2/lib/js/html5shiv.js"></script>
        <![endif]-->
        
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <section>
                <h1>vue.js</h1>
                <h3>Découverte</h3>
                <p>
                    <small>Présentation de
                        <a href="#">Florent Machen</a> pour
                        <a href="http://www.recisio.com">Recisio</a> le 23/10/2017
                    </small>
                </p>
            </section>

            <section>
                <h2>Les libs/frameworks front</h2>
                <table>
                    <tr>
                        <td><img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" width=340></td>
                        <td><img src="https://cdn-images-1.medium.com/max/1600/1*g6s1lvpfArJGorALkKNhvw.png" width=360></td>
                        <td><img src="https://vuejs.org/images/logo.png" width=360></td>
                    </tr>
                </table>
            </section>

            <section>
                <section>
                    <h2>MVVM</h2>
                    <ul>
                        <li>Model : gérer les données (mémoriser, conserver, restituer). Pas de traitement.</li>
                        <li>Vue : l'interface utilisateur. Elle est interactive -> Si l'utilisateur fait une action, la vue doit s'adapter en conséquence.</li>
                    </ul>
                </section>

                <section>
                    <h2>VueModèle</h2>
                    <ul>
                        <li>Lien entre Model et Vue.</li>
                        <li>
                            La liaison à double sens :
                            <ul>
                                <li>un changement dans le modèle doit être actualisé dans la vue (data-binding)</li>
                                <li>une action dans la vue doit être transmise au modèle</li>
                            </ul>
                        </li>
                        <li><img src="http://maurice-chavelli.developpez.com/tutoriels/javascript/les-bases-vue-js-2/images/image-2.jpg"></li>
                    </ul>
                </section>

                <section>
                    <h2>Vue is just js</h2>
                    <pre><code>
&lt;html&gt;
    &lt;head&gt;&lt;/head&gt;
    &lt;body&gt;
        &lt;script src="https://unpkg.com/vue"&gt;&lt;/script&gt;
        &lt;script&gt;
        // constructeur Vue pour instancier une VueModèle        
        var app = new Vue({
            el: '#element', // notre Vue
            data : {}       // notre Modèle
        });
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
                    </code></pre>
                </section>

                <section>
                    <h2>Les directives</h2>
                    <ul>
                        <li>Une directive est un attribut HTML qui dit de faire une action dans le DOM</li>
                    </ul>
                </section>

                <section>
                    <h2>Les directives</h2>
                    <table>
                        <tr>
                            <td style="width:50%">
<pre><code>
&lt;div id="vm1">&gt;
    &lt;p v-text="text"&gt;&lt;/p&gt;
&lt;/div&gt;
</code></pre>
<pre><code>
var vm1 = new Vue({
    el: '#vm1',
    data: {
        text: Math.PI
    }
});
</code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<div id="vm1"><p v-text="text"></p></div>
<script>
var vm1 = new Vue({
    el: '#vm1',
    data: {
        text: Math.PI
    }
});
</script>
                            </td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h2>Rappels ?!</h2>
                    <table>
                        <tr>
                            <td style="width:50%">
<pre><code>
&lt;div id="vm2">&gt;
    &lt;p&gt;Un nombre cool : {{ text }}&lt;/p&gt;
&lt;/div&gt;
</code></pre>
<pre><code>
var vm2 = new Vue({
    el: '#vm2',
    data: {
        text: Math.PI
    }
});
setInterval(
    () => vm2.text = Math.random() * 100, 
    1000
);
</code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<div id="vm2"><p>Un nombre cool : {{ text }}</p></div>
<script>
var vm2 = new Vue({
    el: '#vm2',
    data: {
        text: Math.PI
    }
});
setInterval(
    () => vm2.text = Math.random() * 100, 
    1000
);
</script>
                            </td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h2>directive v-on</h2>
                    <table>
                        <tr>
                            <td style="width:50%">
    <pre><code>
&lt;div id="vm3">&gt;
    &lt;a v-on:click="action"&gt;Cliquez ici !&lt;/a&gt;
&lt;/div&gt;
    </code></pre>
    <pre><code>
new Vue({
    el: '#vm3',
    methods: {
        action: function () {
        alert('On a cliqué !');
        }
    }
});              
    </code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<div id="vm3"><a v-on:click="action">Cliquez ici !</p></div>
<script>
new Vue({
    el: '#vm3',
    methods: {
        action: function () {
        alert('On a cliqué !');
        }
    }
});   
</script>
                            </td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h2>directive v-on 2</h2>
                    <table>
                        <tr>
                            <td style="width:50%">
    <pre><code>
&lt;div id="vm4">&gt;
    &lt;button @click="++n"&gt; + &lt;/button&gt; {{ n }}
&lt;/div&gt;
    </code></pre>
    <pre><code>
new Vue({
    el: '#vm4',
    data: { n: 0 }
});
    </code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<div id="vm4">
    <h1>
        <button @click="++n"> + </button> {{ n }}
    </h1>
</div>
<script>
new Vue({
    el: '#vm4',
    data: { n: 0 }
  });
</script>
                            </td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h2>directive v-bind</h2>
                    <table>
                        <tr>
                            <td style="max-width:50%">
    <pre><code>
&lt;div id="vm5">&gt;
    &lt;span class="label" v-bind:class="type" 
        v-on:mouseover="changeType"&gt;{{type}}&lt;/span&gt;
    &lt;span class="label" :class="type" 
        v-on:mouseover="changeType"&gt;{{type}}&lt;/span&gt;
&lt;/div&gt;
    </code></pre>
    <pre><code>
new Vue({
    el: '#vm5',
    data: {
        type: 'label-primary'
    },
    methods: {
        changeType: function() {
            this.type = (this.type == 'label-primary') ?
                 'label-success' : 'label-primary';
        }
    }
});        
    </code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<div id="vm5">
    <span class="label" :style="type" v-on:mouseover="changeType">{{type}}</span>
</div>
<script>
new Vue({
    el: '#vm5',
    data: {
        type: 'label-primary'
    },
    methods: {
        changeType: function() {
            this.type = (this.type == 'color:red') ? 'color:green' : 'color:red';
        }
    }
});        
</script>
                            </td>
                        </tr>
                    </table>
                </section>
            </section>

            <section>
                <section>
                    <h2>Les utilitaires</h2>
                </section>

                <section>
                    <h2>Raccourcis pour les directives</h2>
                    <ul>
                        <li>v-on:click devient @click</li>
                        <li>v-bind:class devient :class</li>
                        <li>... v-show, v-if, v-else, v-for ...</li>
                    </ul>
                </section>

                <section>
                    <h2>Raccourcis pour les événements</h2>
                    <ul>
                        <li>On peut ajouter aux événements des modificateurs
                            <ul>
                                <li>.stop : stoppe la propagation</li>
                                <li>.prevent : empêche l'action implicite</li>
                                <li>.capture : utilise le mode capture</li>
                                <li>.self : la cible doit être l'élément lui-même</li>
                                <li>.once : déclenche une seule fois</li>
                            </ul>
                        </li>
                    </ul>
                    <pre><code><form @submit.stop.prevent="onSubmit"></form></code></pre>
                </section>

                <section>
                    <h2>Raccourcis du clavier</h2>
                    <pre><code><input @keydown.13="submit"></form></code></pre>
                    <pre><code><input @keydown.enter="submit"></code></pre>
                    <p>enter, tab, delete, esc, space, up, down, left, right</p>
                    <pre><code>Vue.config.keyCodes.f1 = 112</code></pre>
                    <pre><code><!-- Alt + C -->
<input @keyup.alt.67="clear"></code></pre>
                </section>

                <section>
                    <h2>Les boucles</h2>
                    <table>
                        <tr>
                            <td style="max-width:50%">
    <pre><code>
&lt;div id="vm6">&gt;
&lt;li v-for="value in items"&gt;
    {{ value }}
&lt;/li&gt;
&lt;/div&gt;
    </code></pre>
    <pre><code>
new Vue({
    el: '#vm6',
    data: {
        items: [
        "item 1",
        "item 2",
        "item 3"
        ]
    }
});          
    </code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<div id="vm6">
    <li v-for="value in items">
        {{ value }}
    </li>
</div>
<script>
new Vue({
    el: '#vm6',
    data: {    
        items: [
            "item 1",
            "item 2",
            "item 3"
        ]
    }
});        
</script>
                            </td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h2>Les boucles avec index</h2>
                    <table>
                        <tr>
                            <td style="max-width:50%">
    <pre><code>
&lt;div id="vm7">&gt;
&lt;li v-for="(value, index) in fruits"
    @click="getFruit(index)"&gt;
    {{ index }} => {{ value }}
&lt;/li&gt;
&lt;/div&gt;
    </code></pre>
    <pre><code>
new Vue({
    el: '#vm7',
    data: {
        fruits: [
            'pomme', 'cerise', 'abricot'
        ]
    },
    methods: {
        getFruit: function(index) {
            alert('Je suis ' + this.fruits[index]);
        }
    }
});  
    </code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<div id="vm7">
    <li v-for="(value, index) in fruits"
        @click="getFruit(index)">
        {{ index }} => {{ value }}
    </li>
</div>
<script>
new Vue({
    el: '#vm7',
    data: {
        fruits: [
            'pomme', 'cerise', 'abricot'
        ]
    },
    methods: {
        getFruit: function(index) {
            alert('Je suis ' + this.fruits[index]);
        }
    }
});  
</script>
                            </td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h2>Les boucles avec objet</h2>
                    <table>
                        <tr>
                            <td style="max-width:50%">
    <pre><code>
var vm = new Vue({
    el: '#vm8',
    data: {
      personnes: [
        {nom: "Durand", prenom: "Jacques"},
        {nom: "Dupont", prenom: "Albert"},
        {nom: "Martin", prenom: "Denis"},
      ]
    }
  });
  
  setTimeout(function(){vm.personnes...});  
    </code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<div id="vm8">
    <table class="table table-bordered">
        <caption>Personnes</caption>
        <thead>
          <tr>
           <th>Nom</th>
           <th>Prénom</th>
          </tr>
        </thead>
        <tbody id="tuto">
          <tr v-for="personne in personnes">
            <td>{{ personne.nom }}</td>
            <td>{{ personne.prenom }}</td>   
          </tr>  
        </tbody>       
      </table>
      </div>
<script>
var vm = new Vue({
    el: '#vm8',
    data: {
      personnes: [
        {nom: "Durand", prenom: "Jacques"},
        {nom: "Dupont", prenom: "Albert"},
        {nom: "Martin", prenom: "Denis"},
      ]
    }
  });
  
  setTimeout(function(){vm.personnes.push({nom: "Claret", prenom: "Marcel"});}, 2000);
  setTimeout(function(){vm.personnes.pop();}, 4000);
  setTimeout(function(){vm.personnes.unshift({nom: "Claret", prenom: "Marcel"});}, 6000);
  setTimeout(function(){vm.personnes.shift();}, 8000);
  setTimeout(function(){vm.personnes.splice(1, 1, {nom: "Claret", prenom: "Marcel"});}, 10000);
  setTimeout(function(){vm.personnes.sort(function (a, b) { return (a.nom > b.nom) });}, 12000);
  setTimeout(function(){vm.personnes.reverse();}, 14000);  
</script>
                            </td>
                        </tr>
                    </table>
                </section>
            </section>

            <section>
                <section>
                    <h2>Double liaison</h2>
                    <ul>
                        <li>Si on change quelque chose dans la vue, comment modifier le modèle.</li>
                    </ul>
                </section>

                <section>
                    <h2>directive v-model</h2>
                    <table>
                        <tr>
                            <td style="width:50%">
    <pre><code>
&lt;form id="vm9">&gt;
    &lt;input type="text" v-model="foobar"&gt;
    &lt;p&gt;{{ foobar }}&lt;/p&gt;
&lt;/form&gt;
    </code></pre>
    <pre><code>
new Vue({
    el: '#vm9',
    data: { foobar: coucou }
});
setInterval(function(){ vm.foobar = 'Nouveau texte'; }, 5000);
    </code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<form id="vm9">
    <input type="text" v-model="foobar">
    <p>{{ foobar }}</p>
</form>
<script>
var vm9 = new Vue({
    el: '#vm9',
    data: { foobar: "coucou" }
});
setInterval(function(){ vm9.foobar = 'Nouveau texte'; }, 5000);
</script>
                            </td>
                        </tr>
                    </table>
                </section>
            </section>

            <section>
                <section>
                    <h2>option computed</h2>
                    <table>
                        <tr>
                            <td style="width:50%">
<pre><code>
&lt;div id="vm10">&gt;
&lt;p&gt;nom complet : {{ fullname }}&lt;/p&gt;
&lt;/div&gt;
</code></pre>
<pre><code>
new Vue({
    el: '#vm10',
    data: {
        person: {lastname: "Foo", firstname: "Bar"}
    },
    computed: {
        fullname: function() {
            return this.person.lastname + 
                ' ' + this.person.firstname; 
        }    
    }
});      
</code></pre>
                            </td>
                            <td style="width:50%; background:rgb(78, 136, 175)">
<div id="vm10">
<p>nom complet : {{ fullname }}</p>
</div>
<script>
var vm10 = new Vue({
    el: '#vm10',
    data: {
        person: {lastname: "Foo", firstname: "Bar"}
    },
    computed: {
        fullname: function() {
            return this.person.lastname + ' ' + this.person.firstname; 
        }    
    }
});      
</script>
                            </td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h2>option computed v2</h2>
                    <table>
                        <tr>
                            <td style="width:50%">
<pre><code>
var vm11 = new Vue({
    el: '#vm11',
    data: {
        person: {lastname: "Foo", firstname: "Bar"}
    },
    computed: {
        fullname: {
            get: function () {
                return this.person.lastname 
                    + ' ' + this.person.firstname; 
            },
            set: function (value) {
                var nom = value.split(' ');
                this.person.lastname = nom[0];
                this.person.firstname = nom[1];
            }
        }
        }
    });      
</code></pre>
                        </td>
                        <td style="width:50%; background:rgb(78, 136, 175)">
<form id="vm11">
    <div class="form-group">
        <input type="texte" class="form-control" v-model="fullname">
    </div>
    <p>Le nom est : {{ person.lastname }}</p>
    <p>Le prénom est : {{ person.firstname }}</p>
</form>
<script>
var vm11 = new Vue({
el: '#vm11',
data: {
    person: {lastname: "Foo", firstname: "Bar"}
},
computed: {
    fullname: {
        get: function () {
           return this.person.lastname + ' ' + this.person.firstname; 
        },
        set: function (value) {
            var nom = value.split(' ');
            this.person.lastname = nom[0];
            this.person.firstname = nom[1];
        }
    }
    }
});      
</script>
                            </td>
                        </tr>
                    </table>
                </section>

                <section>
                    <ul>
                        <li>computed vs methods</li>
                        <li>watch ?</li>
                    </ul>
                </section>
            </section>

            <section>
                <ul>
                    <li>transitions</li>
                    <li>composants</li>
                    <li>routage</li>
                </ul>
            </section>
            
        </div>
    </div>

    <script src="s2/lib/js/head.min.js"></script>
    <script src="s2/js/reveal.js"></script>

    <script>
        // More info https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,
            transition: 'slide', // none/fade/slide/convex/concave/zoom
            // More info https://github.com/hakimel/reveal.js#dependencies
            dependencies: [
                { src: 's2/lib/js/classList.js', condition: function () { return !document.body.classList; } },
                { src: 's2/plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: 's2/plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: 's2/plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
                { src: 's2/plugin/zoom-js/zoom.js', async: true },
                { src: 's2/plugin/notes/notes.js', async: true }
            ]
        });
    </script>
</body>

</html>